/*
created by ivan .
2015-03-23
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.row {
	margin: 0px !important;
}

/*
首页
 */
body {
	overflow-x: hidden;
}
.span_button {
	padding: 50px;
	background: white;
	position: absolute;
	opacity: 0;
}
.background {
	width: 100%;
}
.tag {
	position: relative;
	border: 1px solid rgba(128, 128, 128, 0.58);
	bottom: 80px;
}
.tag1 {
	position: relative;
	border: 1.5px solid white;
	bottom: 80px;
	width: 20%;
	left: 20%;
}
.tag2 {
	position: relative;
	border: 1.5px solid white;
	opacity: 0.3;
	bottom: 82px;
	width: 20%;  /* right: 80%; */
	float: right;
	right: 20%;
}
.tag_p1 {
	position: relative;
	bottom: 80px;
	color: white;
	left: 20%;
	text-decoration: none;
}
.tag_p2 {
	position: relative;
	bottom: 80px;
	float: right;	/*color: rgba(128, 128, 128, 1);*/
	color: white;
	opacity: 0.3;
	right: 2%;
	text-decoration: none;
}
a.tag_p1:hover, a.tag_p1:visited, a.tag_p1:link {
	text-decoration: none;
}
a.tag_p2:hover, a.tag_p2:visited, a.tag_p2:link {
	text-decoration: none;
}
a.tag_new_p1:hover, a.tag_new_p1:visited, a.tag_new_p1:link {
	text-decoration: none;
}
a.tag_new_p2:hover, a.tag_new_p2:visited, a.tag_new_p2:link {
	text-decoration: none;
}
a.tag_p1.no_hover:hover, a.tag_p2.no_focus:focus {
	color: white !important;
}

/*.tag_p1:hover {
																																					animation: tag_convert1 1s infinite;
																																					-webkit-animation: tag_convert1 1s infinite;
}
.tag_p2:hover {
																																					animation: tag_convert2 1s infinite;
																																					-webkit-animation: tag_convert2 1s infinite;
}

@keyframes tag_convert1 {
																																					from {
																																																																										color: white;
																																					}
																																					to {
																																																																										color: rgba(128, 128, 128, 1);
																																					}
}
@-webkit-keyframes tag_convert1 {
																																					from {
																																																																										color: white;
																																					}
																																					to {
																																																																										color: rgba(128, 128, 128, 1);
																																					}
}
@keyframes tag_convert2 {
																																					from {
																																																																										color: rgba(128, 128, 128, 1);
																																					}
																																					to {
																																																																										color: white;
																																					}
}
@-webkit-keyframes tag_convert2 {
																																					from {
																																																																										color: rgba(128, 128, 128, 1);
																																					}
																																					to {
																																																																										color: white;
																																					}
}*/
.panel_position {
	position: absolute;
	bottom: 20px;
	width: 200px;
}
.panel_login {
	border: 0px;
	color: rgb(195, 175, 175);
	background: rgb(92, 82, 85);
	position: relative;
	left: 10%;
	font-size: 20px;
}
.panel_regist {
	border: 0px;
	color: rgb(195, 175, 175);
	background: rgb(92, 82, 85);
	position: relative;
	float: right;
	right: 20%;
	font-size: 20px;
}

/*
second color
 */
.panel_login1 {
	border: 0px;
	color: rgb(195, 175, 175);
	background: rgb(163, 15, 59);
	position: relative;
	left: 10%;
	font-size: 20px;
}
.panel_regist1 {
	border: 0px;
	color: rgb(195, 175, 175);
	background: rgb(163, 15, 59);
	position: relative;
	float: right;
	right: 20%;
	font-size: 20px;
}
.index_li {
	font-size: 25px;
	margin: 30px;
	color: rgb(195, 175, 175);
	list-style: none;
	cursor: pointer;
}
.index_li:hover {
	border: 3px solid rgba(139, 139, 179, 0.6);
	border-radius: 3.5px;
}

/*
乐活发布
 */
#editor {
	min-height: 250px;
}
.editor_head {
	font-size: 25px;
	font-style: oblique;
	font-family: cursive;
}
.editor_mood {
	font-size: 12px;
}
.button_p {
	text-align: center;
	padding-top: 10px;
}
.publish_img {
	min-height: 100px;
	color: gray;
	background: gainsboro;
	opacity: 0.4;
	margin: 0px 20px 0px 20px;
}
.add_photo {
	font-size: 30px;
	cursor: pointer;
}
.publish_content {
	min-height: 3000px;
	background: azure;
}

/*
上传图片
 */
.hiddenfile {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
.activity_h3 {
	font-size: 14px;
	margin-left: 25px;	/*opacity: 0.4;*/
	color: white;
}
.fullscreen-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.50);
	text-align: center;
}
.button_group {
	margin: 10px;
}

/*
新乐活
 */
.activity_new {

	/*width:300px;*/
	height: 200px;
}
.activity_head_new {
	text-align: center;
	font-size: 35px;
	margin: 50px 100px 0px 100px;
}
.activity_head_mood {
	font-size: 12px;
	text-align: center;
	font-family: cursive;
	opacity: 0.6;
}
.activity_new_content {
	position: relative;
	top: -30px;
}
.tag_new {
	position: relative;
	border: 1px solid rgba(128, 128, 128, 0.58);
	bottom: 80px;
}
.tag_new1 {
	position: relative;
	border: 2px solid rgb(242, 44, 44);
	bottom: 81px;
	width: 20%;
	left: 20%;
}
.tag_new2 {
	position: relative;
	border: 2px solid rgb(242, 44, 44);
	opacity: 0.3;
	bottom: 85px;
	width: 20%;  /* right: 80%; */
	float: right;
	right: 20%;
}
.tag_new_p1 {
	position: relative;
	bottom: 80px;
	color: black;
	left: 20%;
}
.tag_new_p2 {
	position: relative;
	bottom: 80px;
	float: right;	/*color: rgba(128, 128, 128, 1);*/
	color: black;
	opacity: 0.3;
	right: 2%;
}
.activity_img {
	width: 30%;
	position: relative;	/*width: 30%;*/
	display: block;
	margin: auto;
	clear: both;/*清楚浮动*/
}
.activity_new_button {
	position: relative;
	display: block;
	margin: auto;
	width: 30%;
	border: 1px solid rgb(136, 239, 227);
	border-radius: 5px;
	background: white;
}
.activity_content_mood {
	font-size: 13px;
	text-align: center;
	opacity: 0.6;
	position: relative;
	margin: 10px 50px;
	list-style: none;
}

/*
logo
 */
#activity_logo {
	position: fixed;
	left: 2px;
	top: 2px;
	width: 46px;
	height: 46px;
}
#activity_logo_le {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
}
#activity_logo2 {
	position: fixed;
	left: 2px;
	top: 2px;
	width: 46px;
	height: 46px;
}
#activity_logo_le2 {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
}

/*.activity_logo {
	ont-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}
.activity_logo_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 46px;
	height: 46px;
}*/

/*
注册 登录信息
 */
.activity_regist_new {
	text-align: center;
	font-size: 35px;
	margin: 20px 100px 0px 100px;
}
.regist_label {
	font-size: 15px;
	opacity: 0.6;
	margin: 10px;
}
.regist_input {
	display: block;
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;	/*border-radius: 4px;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.regist, .login {
	margin: 40px;
	text-align: center;
}
.regist_button {
	border-radius: 50px;
	width: 80%;
	height: 50px;
	background-color: white;
	border: 1px solid #E91E63;
	color: #E91E63;
}
.login_button {
	border-radius: 50px;
	width: 80%;
	height: 50px;
	background-color: white;
	border: 1px solid #E91E63;
	color: #E91E63;
}

/*
css_color select
 */
.color_black {
	color: black;
}
.color_red {
	color: red;
}
.color_gray {
	color: gray;
}
.color_pink {
	color: pink;
}
.background_color_red {
	background-color: red !important;
}
.background_color_red_rgb {
	background-color: rgb(216, 88, 88) !important;
}
.background_color_white {
	background-color: white;
}
.border_color_red {
	border-color: red;
}
.bottom_0 {
	bottom: 0em;
}
.bottom_2 {
	bottom: 0.2em;
}
.bottom_1 {
	bottom: 0.1em;
}
.bottom_22 {
	bottom: 22px;
}
.left_25 {
	left: 25%;
}
.right_25 {
	right: 25%;
}
.right_5 {
	right: 5%;
}

/*
display property
 */
.hidden {
	display: hidden;
}

/*
z-index
 */
.z_index {
	z-index: -100;
}
.z_index_plus {
	z-index: 100;
}

/*
li
 */
.li_margin_10 {
	margin-top: 1em;
}
.activity_new_content_contact li {
	list-style: none;
	display: inline-block;
}

/*
opacity
 */
.opacity {
	opacity: 0;
}
.opacity_5 {
	opacity: 0.5;
}
.opacity_8 {
	opacity: 0.8;
}

/*
publish activity
 */
.head {
	height: 70px;
}
#activity_people_img {
	position: fixed;
	right: 2px;
	top: 2px;
	width: 46px;
	height: 46px;
}
#activity_people_img_le {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 30px;
	height: 30px;
}
.content {
	margin: 50px;
}
.publish_save_content {
	margin: 5px;
}

/*
css_font
 */
.font1 {
	font-family: 'Microsoft YaHei Bold', 'Microsoft YaHei';
	font-weight: 700;
	font-size: 18px;
	font-size: 20px;
}
.font2 {
	font-size: 12px;
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
	color: #CCCCCC;
}
.font3 {
	font-size: 30px;
}
.font4 {
	font-size: 15px;
}
.font5 {
	font-size: 20px;
}
.font6 {
	font-size: 14px;
}
.font7 {
	font-size: 12px;
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
}
.font8 {
	font-size: 13px;
}
.category_radio {
	margin: 20px 0px 20px !important;
}
.category_row {
	margin: 20px 0px !important;
	color: black !important;
	display: block;
}

/*
activity_a
 */
.activity_a_tag {
	border-left: 1px solid rgba(29, 4, 4, 0.29);
	position: fixed;
	margin: 5px 50px;
}
.activity_a_span {
	font-size: 13px;
	opacity: 0.5;
}
.activity_a_success {
	background-color: white;
	border: 1px solid rgba(37, 13, 13, 0.23);
	border-radius: 10px;
	width: 60px;
	margin-left: 5px;	/*margin: 0px 0px 0px 10px;*/
}
.activity_a_success:hover {
	background-color: gainsboro;
	opacity: 1;
}
.activity_a_cancel {
	border-radius: 30px;
	background: gainsboro;	/*margin: 0px 0px 0px 10px;*/
	margin-left: 5px;
}
.activity_a_btn {
	border: 1px solid rgba(255, 0, 0, 0.48);
	background: white;
	border-radius: 20px;
}
.activity_a_btn:hover {
	background-color: gainsboro;
	opacity: 1;
}
.activity_button {

	/*height: 120px;*/
	background: rgb(219, 81, 81);
	position: fixed;
	bottom: 0px;
	width: 100%;
}

/*
float
 */
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.margin_top_2 {
	margin-top: 2px;
}
.margin_left_2 {
	margin-left: 2px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_left_40 {
	margin-left: 40px;
}
.margin_15 {
	margin: 15px;
}
.margin_10 {
	margin: 10px;
}

/*
publish_save
 */
.publish_save_btn {
	border-radius: 20px;
	width: 80px;
	margin-top: 10px;
	background: orange;
	color: white;
	position: fixed;
	right: 10px;
}
fieldset {
	padding: 10px;  /* margin: 10px; */

	/* width: 270px; */
	color: #333;
	border: #06c inset 1px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 10px;
	opacity: 0.6;
	margin: 0px 20px 0px 20px;
}
legend {
	width: 50%;
	text-align: center;
}

/*
.col-xs-n rewrite;
 */
.col-xs-3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.col-xs-4 {
	margin-bottom: 10px;
}

/*
i
 */
.fa-caret-right {
	color: rgb(123, 123, 207);
	margin: 5px;
}
.activity_content_button {
	float: right;
}
.line {
	border: 1px solid rgba(192, 192, 192, 0.41);
	margin-top: 15px;
	width: 120%;  /* opacity: 0.6; */
	font-size: 10px;
	vertical-align: baseline;
	padding: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	position: relative;
	right: 30px;
}
.line2 {
	border: 1px solid rgba(192, 192, 192, 0.41);
	margin-top: 15px;
	width: 100%;  /* opacity: 0.6; */
	font-size: 10px;
	vertical-align: baseline;
	padding: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;  /*position: relative;*/

	/*right: 30px;*/
}
.line3 {
	border: 1px solid rgba(192, 192, 192, 0.41);
	margin-top: 15px;
	width: 95%;
	font-size: 10px;
	vertical-align: baseline;
	padding: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	position: relative;
	left: 5%;
}
.line4 {
	border: 1px solid rgba(192, 192, 192, 0.41);  /* margin-top: 15px; */
	width: 90%;
	font-size: 10px;
	vertical-align: baseline;
	padding: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	position: relative;
	left: 10%;
}
.activity_content_container {
	margin: 20px;
	list-style: none;
}
.activity_content_ul {
	list-style: inherit;
	border: 1px solid rgba(192, 192, 192, 0.55);
}
.activity_content_ul > li {

	/*border:inherit;*/

	/*height: 60px;*/
}
.activity_content_ul >li > p {
	margin: 10px;
}

/*
css_border
 */
.border_top_no {
	border-top: 0px !important;
}
.border_bottom_no {
	border-bottom: 0px !important;
}
.border_no {
	border: 0px;
}
.border {
	border: 1px solid gainsboro;
}
.border_radius_20 {
	border-radius: 20px;
}

/*
css_margin
 */
.margin_5 {
	margin: -5px;
}
.margin_5_plus {
	margin: 5px;
}
.margin_20 {
	margin: 20px;
}
.margin_left_30 {
	margin-left: 30px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_top_20 {
	margin-top: 20px;
}
.margin_top_30 {
	margin-top: 30px;
}
.margin_top_50 {
	margin-top: 50px;
}
.margin_left_20 {
	margin-left: 20px;
}
.margin_15 {
	margin: 15px;
}
.margin_top_60_n{
	margin-top: -50px;
}
.margin_top_45{
	margin-top: 45px;
}
/*
css_line-height
 */
.line-height-1 {
	line-height: 1;
}
.line-height-2 {
	line-height: 2 !important;
}
.line-height-3 {
	line-height: 3;
}
.line-height-18 {
	line-height: 1.8;
}

/*
input
 */
.input_change {
	min-height: 30px !important;
	width: 80%;
	overflow-x: auto;
}
.textarea_vote_style {
	min-height: 30px !important;
	max-height: 400px;
	overflow-y: hidden;  /* height: 0px; */
	width: 80%;
	text-align: start;
	margin-left: 15px;
}
.activity_vote_a_date {
	height: 40px;
	line-height: 1;
	width: 90%;
	float: right;
	border: 2px solid rgb(250, 243, 243);
	background: rgb(221, 216, 216);
}

/*
date range
 */
.publish_date_range {
	height: 60px;
	background-color: rgb(220, 245, 159);
	margin: 0px 20px 10px 20px;
}
.publish_span_left {
	width: 80%;
	display: inline-block;
	clear: right;
	margin-top: 5px;
}
.publish_button_right {
	width: 20%;
	display: inline-block;
}
.publish_date_select {
	font-size: 40px;  /* height: 50px; */
	border: 0px;
	background-color: rgb(220, 245, 159);
	border-left: 1px solid silver;
}

/*
clear
 */
.clear_both {
	clear: both;
}
.clear_left {
	clear: left;
}
.clear_right {
	clear: right;
}

/*
width
 */
.width_10 {
	width: 10%;
}
.width_15 {
	width: 15%;
}
.width_100 {
	width: 100%;
}

/*
css_text-align
 */
.center {
	text-align: center
}
.right {
	text-align: right
}

/*
img background
 */
.img_delete_background {
	background: gainsboro;
	padding: 5px;
}

/*
button
 */
.gold_button {
	border: 1px solid gold;
	background: white;
	border-radius: 20px;
	width: 100px;
	height: 35px;
	color: gold;
}

/*
css_img
 */
.activity_a_edit_img_beautiful_pic {
	margin: 10px;
	width: 95%;
	height: 200px;
}

/*
css_background
 */
.background_240 {
	background-color: rgb(240, 253, 202);
}
.background_245 {
	background-color: rgb(245, 236, 236);
}
.background_252 {
	background-color: rgb(252, 219, 219);
}
.background_white {
	background-color: white;
}

/*
css_width
 */
.width_95 {
	width: 95%;
}
/*.width_100_len {
	width: 100px;
}*/
.width_40 {
	width: 40px;
}

/*
button
 */
button.like:hover {
	background-color: red;
}
button.edit:hover {
	background-color: gray;
}

/*
css_padding
 */
.padding_10 {
	padding: 10px;
}
.padding_left_10 {
	padding-left: 10px;
}
/*
css_img
 */
img.left {
	position: absolute;
	left: 7px;	/*top: 7px;*/
	width: 30px;
	height: 30px;
}
img.activity_b_img {
	width: 60px;
	position: relative;
	left: 40%;
}
.comment_left {
	position: relative;
	left: 4px;
	top: 0px;
	width: 15px;
	height: 19px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.comment_right {
	position: relative;
	left: 85px;
	top: 0px;
	width: 160px;
	min-height: 160px;
}
.comment_top{
		position: relative;
  left: 60px;
  top: 30px;
	width: 15px;
	height: 19px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

/*
css_display
 */
.display_inline_block{
	display: inline-block;
}
.block{
	display: block;
}
/*
css_height
 */
.height_min_120{
min-height: 120px;
}
/*
css_right
 */
.right_10{
	right: 10px;
}
/*
css_position
 */
.relative{
	position: relative;
}
/*
css_top
 */
.top_35_na{
	top:-35px;
}